<!-- Demo JavaScript Files -->
<script type="text/javascript" src="{$basePath}/js/demo/demo.charts.js"></script>


<!-- Content Area -->
                    <div id="da-content-area">
                        <div class="grid_3">
                            <ul class="da-circular-stat-wrap">
                                <li class="da-circular-stat { fillColor: '#a6d037', value: 55, maxValue: 98, label: 'number of full filled forms' }"></li>
                                <li class="da-circular-stat { fillColor: '#ea799b', percent: true, value: 200, maxValue: 241, label: 'iPads Cloned' }"></li>
                                <li class="da-circular-stat { fillColor: '#fab241', value: 124, maxValue: 523, label: 'Androids Bought' }"></li>
                                <li class="da-circular-stat { fillColor: '#61a5e4', percent: true, value: 42, maxValue: 100, label: 'Funds Collected' }"></li>
                            </ul>
                            <div class="da-panel-widget">
                                <h1>Estimated Revenue</h1>
                                <div id="da-ex-gchart-line" style="height:225px;"></div>
                            </div>
                        </div>
                        
                        <div class="grid_1">
                            <div class="da-panel-widget">
                                <h1>Summary</h1>
                                <ul class="da-summary-stat">
                                    <li>
                                        <a href="#">
                                            <span class="da-summary-icon" style="background-color:#e15656;">
                                                <img src="{$basePath}/images/icons/white/32/truck.png" alt="" />
                                            </span>
                                            <span class="da-summary-text">
                                                <span class="value up">211</span>
                                                <span class="label">Number of feedbacks today</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="da-summary-icon" style="background-color:#a6d037;">
                                                <img src="{$basePath}/images/icons/white/32/sport_shirt.png" alt="" />
                                            </span>
                                            <span class="da-summary-text">
                                                <span class="value">512</span>
                                                <span class="label">Number of feedbacks today campaign "XZ"</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="da-summary-icon" style="background-color:#ea799b;">
                                                <img src="{$basePath}/images/icons/white/32/abacus.png" alt="" />
                                            </span>
                                            <span class="da-summary-text">
                                                <span class="value up">286</span>                                        
                                                <span class="label">Number of feedbacks total</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="da-summary-icon" style="background-color:#fab241;">
                                                <img src="{$basePath}/images/icons/white/32/airplane.png" alt="" />
                                            </span>
                                            <span class="da-summary-text">
                                                <span class="value down">61</span>
                                                <span class="label">Number of feedbacks total campaign "XZ"</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="da-summary-icon" style="background-color:#61a5e4;">
                                                <img src="{$basePath}/images/icons/white/32/shopping_basket_2.png" alt="" />
                                            </span>
                                            <span class="da-summary-text">
                                                <span class="value">42</span>
                                                <span class="label">Shops Visited</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="da-summary-icon" style="background-color:#656565;">
                                                <img src="{$basePath}/images/icons/white/32/users_2.png" alt="" />
                                            </span>
                                            <span class="da-summary-text">
                                                <span class="value">266</span>
                                                <span class="label">Customers Satisfied</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    	<div class="grid_2">
                        	<div class="da-panel">
                            	<div class="da-panel-header">
                                	<span class="da-panel-title">
                                        <img src="{$basePath}/{$basePath}/images/icons/color/calendar_2.png" alt="" />
                                        Event Calendar
                                    </span>
                                    
                                </div>
                                <div class="da-panel-content with-padding">
                                	<div id="da-ex-calendar-gcal"></div>
                                </div>
                            </div>
                        </div>

                        <div class="grid_2">
                            <div class="da-panel collapsible">
                                <div class="da-panel-header">
                                    <span class="da-panel-title">
                                        <img src="{$basePath}/images/icons/black/16/graph.png" alt="" />
                                        Area Chart
                                    </span>
                                    
                                </div>
                                <div class="da-panel-content">
                                    <div id="da-ex-gchart-area" style="height:350px;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="grid_2">
                            <div class="da-panel collapsible">
                                <div class="da-panel-header">
                                    <span class="da-panel-title">
                                        <img src="{$basePath}/images/icons/black/16/graph.png" alt="" />
                                        Tah cloud
                                    </span>
                                    
                                </div>
                                <div class="da-panel-content">
                                 
                                        <div style="_height:px; width:px;background-color:#FFFFFF;font-family:Arial; border: 1px solid #FFFFFF; text-align:left;">
                                           <div style="text-align: justify;padding: 15px;_height:px; width: 250px;background-color:#FFFFFF;font-family:Arial; border: 1px solid #FFFFFF; text-align:left;">
                                               <a href="" style="font-size:22px;text-decoration:none; color: green;">cheap</a>  
                                               <a href="" style="font-size:15px;text-decoration:none; color: #FF7600;">advise</a>  
                                               <a href="" style="font-size:15px;text-decoration:none; color: #FF7600;">expensive</a>  
                                               <a href="" style="font-size:18px;text-decoration:none; color: #039FAF;">low quality</a>  
                                               <a href="" style="font-size:12px;text-decoration:none; color: #039FAF;">choice</a>  
                                               <a href="" style="font-size:21px;text-decoration:none; color: #DE2159;">bad</a>  
                                               <a href="" style="font-size:22px;text-decoration:none; color: #039FAF;">friendly</a>  
                                               <a href="" style="font-size:15px;text-decoration:none; color: #87A800;">variety</a>  
                                               <a href="" style="font-size:19px;text-decoration:none; color: #DE2159;">value food</a>  
                                               <a href="" style="font-size:14px;text-decoration:none; color: #FF7600;">close parking</a>  
                                               <a href="" style="font-size:14px;text-decoration:none; color: #87A800;">fresh</a>  
                                               <a href="" style="font-size:14px;text-decoration:none; color: #FF7600;">quality</a>  
                                               <a href="" style="font-size:14px;text-decoration:none; color: #87A800;">dirty</a>  
                                               <a href="" style="font-size:12px;text-decoration:none; color: #87A800;">good service</a>  
                                               <a href="" style="font-size:18px;text-decoration:none; color: #87A800;">sales</a>  
                                               <a href="" style="font-size:21px;text-decoration:none; color: #FF7600;">waiting</a>  
                                               <a href="" style="font-size:19px;text-decoration:none; color: #DE2159;">good</a>  
                                            </div>
                                        </div>
                                       
                                </div>
                            </div>
                        </div><!--end of tagcloud-->

                    </div>
                    
                </div>
                
            </div>