<!DOCTYPE html>
<html ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="CleverFrogs">
    <meta name="robots" content="{$robots}" n:ifset="$robots">
    <meta name="viewport" content="width=device-width">
    <META name="robots" content="all,follow,index">
    <META content="en" http-equiv="Content-language">
    <META name="resource-type" content="phpfile">

    <title>CleverFrogs {$title}</title>

     <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <LINK rel="icon" type="image/x-icon" href="./favicon.ico">
    <LINK rel="shortcut icon" type="image/x-icon" href="{$basePath}/favicon.ico">

    <link rel="stylesheet" href="{$basePath}/css/reset.css" type="text/css">
    <link rel="stylesheet" href="{$basePath}/css/campaign_formular.css" type="text/css">
    <!--end of <script type="text/javascript" src="{$basePath}/js/cssrefresh.js"></script>-->

    <link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap-responsive.css">
    
    <script type="text/javascript" src="{$basePath}/js/jquery-1.7.2.min.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <script type="text/javascript">
        function submitFeedback(ps_id,campaign_id){
            ajaxStartSubmitFeedback(ps_id,campaign_id);
        }

        function ajaxStartSubmitFeedback(ps_id, campaign_id){
           ajaxSubmitFeedback(ps_id,campaign_id);
           return false;
        }

        function ajaxSubmitFeedback(ps_id,campaign_id){
            
            $.ajax({    //create an ajax request to load_page.php
              type: "POST",
              url: "?do=jsonSubmitFeedback",
              data: { ps_id: ps_id, campaign_id: campaign_id },
              dataType: "html",   //expect html to be returned
              success: function(msg){ 

                  if(parseInt(msg)!=0)    //if no errors
                  {
                    console.log("DONE");
                  }

              }
          });
        }
    </script>

    <div class="container">
        <ul class="thumbnails">
            {foreach $products_services as $ps}
                <li class="span6">
                    <div class="span6">
                        <a class="thumbnail" id="product_service" onclick="JavaScript:submitFeedback({$ps->ps_id},{$campaign_id})"">
                            <img src="{$basePath}/www/uploads/ps/{$ps->category_id}/{$ps->image}">
                        </a>
                    </div>
                    <div class="span6">
                        <h3>{$ps->title}</h3>
                        <p class="description">{$ps->description}</p>
                    </div>
                </li>
            {/foreach}
        </ul>
    </div>

    <script src="{$basePath}/js/plugins.js"></script>

    <script src="{$basePath}/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="{$basePath}/js/cufon.js" type="text/javascript"></script>
    <script src="{$basePath}/js/Aller_400.font.js" type="text/javascript"></script>

    <script src="{$basePath}/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>

    <script src="{$basePath}/js/vendor/bootstrap.js"></script>

    <script src="{$basePath}/js/jCarouselLite.js" type="text/javascript"></script>
    <script src="{$basePath}/js/functions.js" type="text/javascript"></script>
    
    <!-- LIGHTBOX JS -->
    <script src="{$basePath}/js/jquery.smooth-scroll.min.js"></script>

    
</body>
</html>