<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CleverFrogs - Campaign</title>
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/campaign/demo.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/campaign/style.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/campaign/custom.css" />
        <script type="text/javascript" src="{$basePath}/js/campaign/modernizr.custom.79639.js"></script>
        <!--end of <script type="text/javascript" src="{$basePath}/js/cssrefresh.js"></script>-->
        <noscript>
            <link rel="stylesheet" type="text/css" href="{$basePath}/css/campaign/styleNoJS.css" />
        </noscript>

    </head>
    <body>
        
        <div class="container demo-2">
        
            <header class="clearfix">
                <h1>Campaign <span>{$campaign->title}</span></h1>
                <img src="{$basePath}/img/logoB.png" alt="CleverFrogs" style="width: 300px; float: right; " />
            </header>

            <div id="slider" class="sl-slider-wrapper">

                <div class="sl-slider">
                    {foreach $products_services as $ps}
                        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                            <div class="sl-slide-inner">
                                <div class="bg-img bg-img-{$iterator->counter}">
                                    {if $show_description == 1}
                                    <a class="thumbnail" id="product_service" onclick="JavaScript:submitFeedback({$ps->ps_id},{$campaign_id})">
                                        <img src="{$basePath}/www/uploads/ps/{$ps->category_id}/{$ps->image}">
                                    </a>
                                    {/if}

                                    {if $show_description == 0}
                                    <a class="fullSize" id="product_service" onclick="JavaScript:submitFeedback({$ps->ps_id},{$campaign_id})">
                                        <img src="{$basePath}/www/uploads/ps/{$ps->category_id}/{$ps->image}">
                                    </a>
                                    {/if}

                                </div>
                                {if $show_title == 1}
                                <h2>{$ps->title}</h2>
                                {/if}
                                {if $show_description == 1}
                                        <blockquote><p>{$ps->description}</p></blockquote>
                                {/if}



                            </div>
                        </div>
                    {/foreach}

                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-1"></div>
                            <h2>A bene placito.</h2>
                            <blockquote><p>You have just dined, and however scrupulously the slaughterhouse is concealed in the graceful distance of miles, there is complicity.</p><cite>Ralph Waldo Emerson</cite></blockquote>
                        </div>
                    </div>

                </div><!-- /sl-slider -->

                <nav id="nav-dots" class="nav-dots">
                    {foreach $products_services as $ps}
                        <span {if $iterator->first}class="nav-dot-current"{/if} /></span>
                    {/foreach}
                </nav>

            </div><!-- /slider-wrapper -->

            <div class="content-wrapper">
                <h2>About</h2>
                <p>{$campaign->description}</p>
            </div>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/campaign/jquery.ba-cond.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/campaign/jquery.slitslider.js"></script>
        <script type="text/javascript"> 
            $(function() {
            
                var Page = (function() {

                    var $nav = $( '#nav-dots > span' ),
                        slitslider = $( '#slider' ).slitslider( {
                            onBeforeChange : function( slide, pos ) {

                                $nav.removeClass( 'nav-dot-current' );
                                $nav.eq( pos ).addClass( 'nav-dot-current' );

                            }
                        } ),

                        init = function() {

                            initEvents();
                            
                        },
                        initEvents = function() {

                            $nav.each( function( i ) {
                            
                                $( this ).on( 'click', function( event ) {
                                    
                                    var $dot = $( this );
                                    
                                    if( !slitslider.isActive() ) {

                                        $nav.removeClass( 'nav-dot-current' );
                                        $dot.addClass( 'nav-dot-current' );
                                    
                                    }
                                    
                                    slitslider.jump( i + 1 );
                                    return false;
                                
                                } );
                                
                            } );

                        };

                        return { init : init };

                })();

                Page.init();

                /**
                 * Notes: 
                 * 
                 * example how to add items:
                 */

                
                
                var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
                
                // call the plugin's add method
                ss.add($items);

                
            
            });
        </script>
    </body>
</html>