<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<!-- META -->
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width, minimum-scale=1, maximum-scale=1">
		<meta name = "apple-mobile-web-app-capable" content = "yes" /> 
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Questionnaire</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="shortcut icon" href="{$basePath}/favicon.ico"> 
		
        <link rel="stylesheet" href="{$basePath}/css/component_questionnaire2/bootstrap.css">
        <link rel="stylesheet" href="{$basePath}/css/component_questionnaire2/slider.css">
        <!--end of <script src = "{$basePath}/js/cssrefresh.js"></script>-->

        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

        <!-- jQuery library -->
        <link rel="stylesheet" href="{$basePath}/css/component_questionnaire2/jquery-ui.css" />
        <script src="{$basePath}/js/component_questionnaire2/jquery-1.9.1.js"></script>
        <script src="{$basePath}/js/component_questionnaire2/jquery-ui.js"></script>
        
        <script src = "{$basePath}/js/component_questionnaire2/jquery.blockUI.js"></script>
        <script src = "{$basePath}/js/component_questionnaire2/vendor/bootstrap.js"></script>

        <!-- iosSlider plugin -->
        <script src = "{$basePath}/js/component_questionnaire2/jquery.iosslider.js"></script>
        <link rel="stylesheet" href="{$basePath}/css/animate.css">
		
        <script src="{$basePath}/js/component_questionnaire2/jquery-lang.js" charset="utf-8" type="text/javascript"></script>
        <script src="{$basePath}/js/component_questionnaire2/langpack/en.js" charset="utf-8" type="text/javascript"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
        <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>

        

        <script type="text/javascript">

            window.lang = new jquery_lang_js();

            $(document).ready(function() {

                window.lang.run();
                window.lang.change('en');
                $.myLanguage = 'en';

                $('.iosSlider').iosSlider({
                    scrollbar: false,
                    scrollbarDrag: false,
                    snapSlideCenter: false,
                    desktopClickDrag: false,
                    infiniteSlider: true, 
                    navSlideSelector: $('.iosSliderButtons .button'),
                    scrollbarHeight: '2',
                    scrollbarBorderRadius: '0',
                    scrollbarOpacity: '0.5',
                    onSlideChange: slideContentChange,
                    onSliderLoaded: slideContentChange,
                    scrollbarElasticPullResistance: 0,
                    keyboardControls: false,
                    snapToChildren: false,
                    preventXScroll: true
                });

                $(".bottomBar").css("height","120px");
                $(".iosSliderButtons").css("marginTop","55px");
                $('.submitButton').css('display',"none");
                
                $('img.star').click(function(){
                    
                    $('.submitButton').css('display',"block");

                    $(".iosSliderButtons").animate({ 
                        marginTop: "0px"
                    }, 500 );
                }); 

                function clickOnButton(id){
                    $('.iosSliderButtons #item'+id).click();
                }

                $(".iosSlider").css("display","none");

                 $(".iosSlider").animate({ 
                        left: "1920px"
                    }, 0 );

                $(".iosSlider").css("display","block");
                
                $(".goAheadTooltip").css("display","none");
                

                $('.tooltip_emoticon').css('display',"none");

                var counter = 0;
                for (i = 4; i >= 0; i--) {
                  clickOnButton(i);
                }

                $(".iosSliderButtons > #item0").removeClass("button selected");
                $(".iosSliderButtons > #item0").attr("class","button ");

                $(".button").click(function(){
                    var sectionId = $(this).attr("id").substr(4);
                    
                    $(".tooltips").css("left","75%");
                    $(".tooltips").css("top","-10%");
                    
                    $('#firstTooltip').tooltip('hide');
                    $('.tooltip_emoticon').css("display","none");
                    $('.tooltip_arrow').css("display","none");

                    $(".iosSlider").animate({ 
                        left: "0px"
                    }, 500 );

                    if(sectionId == "0"){
                       $(".iosSliderButtons > #item0").attr("class","button selected");
                    }
                });

                function languageModal(){
                    $('#modal_language').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                    $('#modal_language').modal('show');
                }
                languageModal();

            });

            function finishEvaluationModal(){
                    $('#myModal').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                    $('#myModal').modal('show');
            }

            function finishSummaryModal(){
                    $('#myModal').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                    $('#myModal').modal('show');
            }
            finishSummaryModal();

            function slideContentChange(args) {
                /* indicator */
                $('.iosSliderButtons .button').removeClass('selected');
                $('.iosSliderButtons .button:eq(' + (args.currentSlideNumber - 1) + ')').addClass('selected');
            }
        </script>

	</head>
	<body>
		{include $page}
	</body>
</html>