#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			autoStart: smart
			expiration: +30 days

		database:
			default:
			dsn: 'mysql:unix_socket=/tmp/mysql51.sock;dbname=bootstrap'
			user: root
			password: vertrigo


	services:
		authenticator: Todo\Authenticator
		taskRepository: Todo\TaskRepository
		userRepository: Todo\UserRepository
		listRepository: Todo\ListRepository
		projectRepository: Todo\ProjectRepository
		galleryRepository: Todo\GalleryRepository

	factories:


production < common:

development < common:
