/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { 
    font-size               : 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust    : 100%; 
    
    background-repeat       :no-repeat;
    background-attachment   :fixed;
    background-position     :center;
  }

html, button, input, select, textarea { font-family: sans-serif; color: black; }

body { margin: 0; font-size: 1em; line-height: 1.4; color: black; 

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: black; text-decoration: none; }
a:visited { color: #fe57a1; }
a:hover { 
  color: black;
}
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; text-decoration: underline;}


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6,p {
  color: black;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
}

h6 {
  font-size: 11px;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 90%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float:right;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.cb {
  clear: both;
}

.noBorderBottom {
  border-bottom: none !important;
}

.lastCol {
  margin-right: 0 !important;
}

.biggerLink {
  padding-right: 20px;
}

.menuBG a {
  background-color: #b4ff23;
}

p {
  margin: 15px 0;
  line-height: 1.5em;
}

div.blankSeparator {
  margin-bottom: 30px;
  height: 1px;
  display: block;
}

a.readMoreLink {
  font-size: 11px;
  background: url("../img/listArrow.png") center right no-repeat;
  padding-right: 15px;
}

.fillContainerS {
  height: 110px;
}

.fillContainerM {
  height: 280px;
}

.fillContainerL {
  height: 290px;
}

.fillContainerXL {
  height: 377px;
}

div.oneQuarterCol {
  width: 240px;
  margin-right: 10px;
  float: left;
}

div.centerContainerCopyright {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: red;
}

/* ==|== primary styles =====================================================
   Author: Andrej Gaapar
   ========================================================================== */

   #lineTop {
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
    position: relative;
   }

   #pinkTop, #pinkBottom{
    float: left;
    width: 100%;
    height: 6px;
    background-color: #b4ff23;
    position: fixed;
    top: 70px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #626262;
   }

   #whiteTop, #whiteBottom {
    float: left;
    width: 100%;
    height: 7%;
    background-color: white;
   }

   #greenTop, #greenBottom {
    width: 100%;
    height: 75px;
    background-color: white;
    position: fixed;
    top:0;
   }

   #lineBottom {
    bottom: 0;
    width: 100%;
    height: 10px;
   }

   #container {
     width: 950px;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     padding-top: 10px;
   }

   #mainHeaderContainer {
    width: 100%;
    height: 20px;
   }

   #headerLeft {
    width: 80%;
    height: 100%;
    float: left;
   }

   #headerRight {
    width: 20%;
    height: 100%;
    float: left;
   }

   #headerRight2 {
    width: 20%;
    height: 100%;
    float: right;
    overflow: hidden;
   }

   .logoSK {
    width: 240px;
    float: left;
    display: block;
    margin-left: 10px;
    top: 0;
    margin-top: 10px;
    position: fixed;
   }

   .headerTitle {
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
    margin-top: 80px;
   }

   #language {
    margin-right: 295px;
    margin-top: 20px;
    position: fixed;
    z-index: 10;
    font-size: 14px;
    color: black;
    display: block;
    clear: both;

   }

   #language img {
    height: 40px;
    padding: 2px;
    margin-top: -2px;
   }

    #language a {
      color: black;
    }

   #login a:hover{
      opacity: 1;
      -moz-opacity: 1;
      filter:alpha(opacity=1);
   }

   #login a{
    color: black;
   }

   .loginSK {
    width: 144px;
    height: 42px;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
   }

   .registerDialog {
    right: 0;
    top: 0;
    margin-right: 150px;
    position: fixed;
    z-index: 9999;
   }

   .loginLink {
    right: 0;
    top: 0;
    margin-right: 195px;
    margin-top: 20px;
    position: fixed;
    z-index: 9999;
    font-size: 14px;
    color: black;
    display: block;
    clear: both;
   }

   .logoutLink {
    right: 0;
    top: 0;
    margin-right: 195px;
    margin-top: 20px;
    position: fixed;
    z-index: 9999;
    font-size: 14px;
    color: black;
    display: block;
    clear: both;
    font-weight: bold;
   }

   .logoutLink a{
    font-weight: normal;
    margin-left: 30px;
   }

   .registerLink {
    right: 0;
    top: 0;
    margin-right: 85px;
    margin-top: 20px;
    position: fixed;
    z-index: 9999;
    font-size: 14px;
   }

   #home {
    width: 100%;
   }

   #basic {
    margin-top: 100px;
   }

   #homeTop {
    width: 100%;
    height: 33.3%;
    text-align: center;
   }

   #banner {
    margin-top: 50px;
   }

   .bannerImage {
    width: 425px;
    height: 280px;
    float: left;
  }

  .bannerInfo {
    text-align: justify;
    width: 425px;
    float: left;
    color: black;
    margin-left: 55px;
    margin-top: 10px;
    font-size: 13px;
    
  }

  #alternativeMenuSK {
    margin-top: 120px;
    margin-left: 30px;
  }

   #homeTop a:hover{
    text-decoration: none;
   }

   #homeGreenBox {
    width: 200px;
    height: 60px;
    background-color: #c0f800;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    text-transform:uppercase;
    font-size: 20px;
    float: left;
   }

   #homeGreenBox a {
    color: black;
   }

   #homePinkCircle {
    width: 150px;
    height: 150px;
    background-color: #e6217d;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    text-align: center;
    line-height: 25px;
    text-transform:uppercase;
    font-size: 15px;
    float: left;
   }

   #homePinkCircle a {
    color: white;
   }

   #homePinkCircle a:hover {
    color: white;
    text-decoration: none;
   }

   .homeArrow {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
   }

   .homePlus, .homeEqual {
    float: left;
    margin-top: 63px;
    margin-left: 10px;
    margin-right: 10px;
   }

   .homeBottomText {
    margin-top: 50px;
   }

   .homeBottomText2 {
    margin-top: 50px;
    font-size: 12.6px;
   }

  .homeBottomText3 {
    margin-top: 35px;
   }

  .homeBottomText4 {
    margin-top: 50px;
   }

  .homeBottomText5 {
    margin-top: 50px;
   }

   .homeBottomTextB{
    margin-top: 60px;
   }

   .homeBottomText2B {
    margin-top: 60px;
   }

  .homeBottomText3B {
    margin-top: 60px;
   }

  .homeBottomText4B {
    margin-top: 60px;
   }

  .homeBottomText5B {
    margin-top: 50px;
   }

/*--------------- EN -------------- */

  .homeBottomTextEN {
    margin-top: 50px;
    font-size: 14px;
   }

   .homeBottomTextEN2 {
    margin-top: 50px;
    font-size: 12.6px;
    margin-top: 30px;
   }

  .homeBottomTextEN3 {
    margin-top: 50px;
    font-size: 14px;
   }

  .homeBottomTextEN4 {
    margin-top: 35px;
    font-size: 14px;
   }

  .homeBottomTextEN5 {
    margin-top: 50px;
   }

   .homeBottomTextENB{
    margin-top: 55px;
    font-size: 14px;
   }

   .homeBottomTextEN2B {
    margin-top: 60px;
   }

  .homeBottomTextEN3B {
    margin-top: 60px;
   font-size: 14px;
  }

  .homeBottomTextEN4B {
    margin-top: 60px;
   }

  .homeBottomTextEN5B {
    margin-top: 50px;
   }

   .dotaznik {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 100px;
    margin-left: -15px;
   }

   .dotaznikb {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 80px;
   }

   #dotaznik {
    text-align: center;
    height: 40px;
    margin-top: -30px;
   }

/*------- end of en -----------*/

   #homeMiddle {
    width: 100%;
    height: 33.3%;
    text-align: center;
    line-height: 110px;
    font-size: 20px;
    text-transform:uppercase;
    float: left;
    margin-top: 20px;
   }

   #homeBottom {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
   }

   #spatna_vazba {
    height: auto;
   }

  .menu {
    height: 50px;
    width: 790px;
    margin: 0 auto;
    margin-top: 25px;
  }

  div.menu ul {
    font-size: 20px;
  }
   


  .menu a {
    padding-top: 2px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #371C1C;
    margin-top: 10px;
    font-size: 14px;
    background-color: #ececec;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

    .menu li {
      float: left;
      padding: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }

  .menu a:hover {
    background-color: #b4ff23;
    opacity: 1;
  }

  .spatna_vazba_hover a{
    /*color: #e6217d;*/
    /*font-weight: bold;*/
  }

  .menuProfile a{

  }


/* --- subscribe form --- */
form#subscribeForm input[type="text"] {
  background: url("img/darkInputBG.png") 0 0 repeat-x;
  height: 40px;
  text-align: left;
  font-style: italic;
  font-size: 11px;
  color: #939393;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  width: 210px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
}


a.blueButton {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  padding: 10px 20px;

  background: url("img/blueButtonBG.png") 0 0 repeat-x;
  background-color: #5b5b5b;
}

form#subscribeForm {
  position: relative;
}

a.blueButton:hover {
  background: url("img/blueButtonBGOver.png") 0 0 repeat-x;
}

a.blueButton img {
  margin: 0 0 2px 0
}

a#newsletterSignup {
  position: absolute;
  top: 2px;
  right: 7px;
}



  #copyright {
    width: 100%;
    height: 190px;
    bottom: 0;
    display: block;
    clear: both;
    margin-top: 50px;
   border-top:1px solid #dbdada ;
    -webkit-box-shadow: 0px -5px 3px 0px #f6f6f6;
    box-shadow: 0px -5px 3px 0px #f6f6f6; 
  }

   #copyrightContainer {
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ececec;
   }

  #submitareaNewsletter input[type="submit"]{
    border: none;
    background-color: none;
    font-size: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 10px;
    background-color: #dbdada;

    -moz-box-shadow: inset 0px 0px 1px 1px #e0e0e0;
    -webkit-box-shadow: inset 0px 1px 0px 1px#e0e0e0;
    box-shadow: inset 0px 0px 1px 1px #e0e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
    font-weight: normal;
    width: 80px;
    height: 25px;
  }

  ul.socialIcons {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 70px;
  }

  ul.socialIcons li {
    display: inline;
    margin-right: 3px;
  }

  .fb-like {
    float: left;
    margin-bottom: 10px;
  }

  ul.socialIconsShare {
    margin-top: 5px;
    margin-left: 30px;
  }

  ul.socialIconsShare li {
    padding: 3px;
    display: block;
    margin-right: 3px;
  }

  #ccInside {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  #ccTop {
    width: 960px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
  }

   #ccBottom {
    width: 100%;
    height: 20px;
    float: left;
    background-color: #cacaca;
    line-height: 15px;
    margin-top: 20px;
   }

   #ccBottom small {
    color: white;
    font-size: 10px;
   }

  .copyrightHead {
    line-height: 1px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }

  .copyrightHead a {
    color: black;
  }
  .newsletterInfo {
    line-height: 17px;
    padding: 11px;
    text-align: justify;
    font-size: 11px;
  }

  #ccIn1{
    width: 250px;
    float: left;
    height: 170px;
    border-right: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 5px;
    line-height: 15px;
  }

  #ccIn1 input{
    height: 20px;
    border:none;
    -moz-box-shadow: inset 0px 0px 2px 2px #e0e0e0;
    -webkit-box-shadow: inset 0px 0px 2px 2px#e0e0e0;
    box-shadow: inset 0px 0px 2px 2px #e0e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #595959;
    font-size: 12px;
    height: 25px;
    width: 150px;
  }

  #ccIn2{
     width: 230px;
    height: 170px;
    float: left;
    border-right: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 5px;
    line-height: 15px;
  }

  #ccIn3{
     width: 230px;
    height: 170px;
    float: left;
    border-right: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 5px;
    line-height: 15px;
  }

  .ccShare {
    text-align: left;
    margin-left: 10px;
    font-size: 13px;
    margin-top: 20px;
    font-size: 11px;
  }

  .ccFB {
    width: 40px;
  }

  .ccTwitter {
    width: 40px;
  }

  #ccIcons {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  #ccIn4{
     width: 230px;
    height: 170px;
    float: left;
    margin-top: 5px;
    line-height: 15px;
  }

  .ccFAQ {
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
    line-height: 20px;
    margin-top: 20px;
  }

  .ccFAQ a {
    color: #595959;
  }

   .bigLogo {
    text-align: center;
   }

   #breadcrumbs {
    font-size: 11px;
   }

   #breadcrumbs a{
    color: black;
    font-size: 12px;
   }

   #breadcrumbs .breadcrumb {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
   }

   #breadcrumbs .breadcrumbChecked {
    color: #fe57a1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
   }

   .charts_image {
    margin-top: 70px;
    width: 400px;
   }

   div.sidebarContainer {
  width: 283px;
  margin-right: 50px;
  font-size: 12px;
}

div.sidebarItem {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

  border: 1px solid #e3e5e8;
  
  margin-bottom: 30px;
}

  ul.arrowList {
    background: url('img/sidebarGradBG.png') 0 0 repeat-x;
  }

  ul.arrowList li {
    border-bottom: 1px solid #e1e5e9;
    padding: 14px 20px;
    background: url('img/sidebarPointRed.png') 92% center no-repeat;
  }
  
  li.activeSidebarItem {
    background: url('img/sidebarPointDark.png') 92% center no-repeat !important;
    font-weight: bold;
    color: #62656b;
  }
    
  div.sidebarHeader {
    background: url('img/sidebarHeaderBG.png') 0 0 repeat-x;

    height: 47px;
    padding: 0 20px;
    margin-top: -17px;
    font-size: 14px;
  }

    div.sidebarHeader h3 {
      height: 47px;
      line-height: 47px;
    }

    ul.basicList li {
    border-bottom: 1px solid #e1e5e9;
    padding: 0 20px;
  }

    ul.basicList li p {
      color: #919295;
    }

    div.sepContainer {
    height: 20px;
    background: url('img/separatorBG.png') 0 0 repeat-x;
    display: block;
    margin: 30px 0;
    margin-top: 80px;
  }

  form#contactForm {
    overflow: hidden;
  }

  form#contactForm p {
    margin-top: 0;
  }

  form#contactForm input[type="text"] {
    background: url('img/lightInputBG.png') 0 0 repeat-x;
    height: 35px;

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      
      border: 1px solid #e1e5e9;
      width: 260px;
      padding: 0 10px;
  }

    form#contactForm input[type="text"]:hover {
        border: 1px solid #b8babd;

    }

  form#contactForm textarea {
    background: url('img/lightTextareaBG.png') 0 0 repeat-x;
    height: 100px;

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      
      border: 1px solid #e1e5e9;
      width: 350px;
      padding: 10px 10px;
      max-height: 150px;
      min-height: 100px;
  }

    form#contactForm textarea:hover {
        border: 1px solid #b8babd;
    }
    
  form#contactForm label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }

  form#contactForm p.additionalOptions a {
    color: #fe57a1;
    line-height: 41px;
    height: 41px;
  }

.redButton a{
  margin-top: 10px;
}

a.redButton {
    color: #5b5b5b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: url('img/redButtonOut.png') 0 0 repeat-x;
    font-size: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

a.redButton:hover {
  background: url('img/redButtonOver.png') 0 0 repeat-x;
  text-decoration: none;
}

  a.redButton img {
    margin: 7px 0 2px 4px;
  }

  /******************************* Other Browser Styles *******************************/
  .ie7 ul#nav li a:hover {
    text-decoration: none;
  }

  .ie7 a.redButton img {
    margin: 7px 0 5px 4px;
  }

  .ie7 div#clientListContainer ul li p img {
    margin-top: 40px;
  }

  .ie7 form#contactForm input[type="text"], .ie7 form#subscribeForm input[type="text"] {
    padding-top: 15px;
    height: 32px;
  }

  .ie7 form#contactForm textarea {
    padding-top: 15px;
    height: 174px;
  }

   #buttons  {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
   }

   #buttons a:hover {
    
   }

   #homeContact{
    text-align: left;
    font-size: 11px;
    margin-left: 10px;
    color:#fe57a1;
   }

   #homeContact a{
    color:#fe57a1;
   }

   .greenLine {
      width: 100%;
      height: 1px;
      background-color: #c0f800;
   }

   #upPanel {
      width: 53%;
      height: 400px;
      float: left;
      margin-left: -30px;
      margin-top: 50px;
   }

   #botPanel {
      width: 53%;
      height: 100%;
      float: left;
   }

   #leftPanel {
      width: 53%;
      height: 100%;
      float: left;
   }

   #rightPanel {
      height: 100%;
      float: left;
      width: 47%;
      margin-top: 40px;
   }

   #leftPanelContact {
      width: 40%;
      height: 100%;
      float: left;
      margin-left: 10px;
   }

    #rightPanelContact {
      height: 100%;
      float: left;
      width: 55%;
      font-size: 12px;
   }

   #leftPanel2 {
      width: 33.3%;
      height: 100%;
      float: left;
      line-height: 40px;
      padding-left: 5px;
   }

   #middlePanel2 {
      height: 100%;
      float: left;
      width: 33%;
      line-height: 40px;
   }

   #rightPanel2 {
      height: 100%;
      float: left;
      width: 33%;
      line-height: 40px;
   }

   #leftPanel2 a, #middlePanel2 a, #rightPanel2 a {
    color: #5b5b5b;
   }

   #leftPanel2 a:hover, #middlePanel2 a:hover, #rightPanel2 a:hover {
    color: black;
   }

   #leftPanel2 a:visited, #middlePanel2 a:visited, #rightPanel2 a:visited {
     color: #e6217d;
   }

   #freeDownload {
    width: 150px;
    height: 80px;
    background-color: #c0f800;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    border-width: 2px;
    border-color: green;
    margin-left: auto;
    margin-right: auto;
   }

   #freeDownload a:hover {
    color: black;
   }

   #aplikacieHeader {
    width: 100%;
    height: 50px;
   }

   #aplikacieHeader h1 {
    width: 60%;
    float: left;
    margin-top: 0px;
   }

   #icons {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: -30px;
   }

   .androidIcon {
    width: 130px;
    float: left;
    margin-left: 115px;
   }

   .iphoneIcon {
     width: 124px;
    float: left;
    margin-left: 60px;
   }
   
   .phone_iphone {
    float: left;
    width: 190px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 5px;
   }

  .phone_android {
    float: left;
    width: 200px;
    padding: 20px;
  }

  .arrow {
    width: 16px;
    height: 16px;
    background: url(img/check.png) 50% 50% no-repeat;
    float:left;
    padding: 2px;
    margin-top: 10px;
    margin-right: 5px;
  }

  #appText2 {
    line-height: 40px;
    font-size: 14px;
  }

  #appText2 ul {
    margin-top: 20px;
  }

  .messageBox {
    padding: 10px;
    background-position: bottom right;
    background-color: #f1f1f1;
    border:1px solid #bfbfbf;
    -moz-box-shadow: inset 0 0 2px 2px #e7e7e7;
    -webkit-box-shadow: inset 0 0 2px 2px#e7e7e7;
    box-shadow: inset 0 0 2px 2px #e7e7e7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
    resize: vertical;

    background-image: linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 84%);
    background-image: -o-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 84%);

    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.29, rgb(235,235,235)),
      color-stop(0.84, rgb(255,255,255))
    );
  }

  #dottedLine {
    border-bottom: 1px dotted #bababa;
  }

  #errorMessage {
    color: red;
    font-size: 12px;
    font-style: italic;
  }

/* LOGIN BOX */

.forgotPassButton {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 40px;
  text-align: right;
}

#zapamatat {
  float: right;
  font-size: 13px;
}

.registerButton {
  font-size: 12px;
  margin-left: 20px;
}

#dialog {
  line-height: 35px;
  z-index: 99999;
}

#submitarea input[type="submit"]{
  font-size: 12px;
  height: 30px;
  width: 100px;
  border: none;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
}

#submitarea {
  position: absolute;
  margin-left: 130px;
  margin-top: 10px;
}

.tabulkaLoginPage {
  font-style: 12px;
  line-height: 10px;
  margin-left: 50px;
}

.errorLogin p{
  color: red;
  float: right;
  font-size: 12px;
  margin-left: 10px;
  margin-top: -1px;
}

label[for=password],label[for=loginArea]  {
  font-size: 15px;
  line-height: 20px;
  margin-right: 10px;
}

#loginFormPage {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 700px;
}

.errorLoginPop {
  width: 100px;
  font-size: 10px;
  width: 150px;
  display: inline;
  color: red;
}

#errorsPop {
  line-height: 10px;
  color: red;
}

#errorsPop p{
  color: red;
  display: inline-block;
  margin-right: 10px;
}

#dialog label {
  font-size: 13px;
  margin-right: 10px;
}

.tabulkaLogin {
  margin-top: 30px;
  margin-left: 30px;
}

.tabulkaLogin #login, .tabulkaLogin #password{
  background: url("img/lightInputBG.png") 0 0 repeat-x;
  height: 30px;
  text-align: left;
  font-size: 12px;loginArea
  color: #939393;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  width: 270px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;

  border: 1px solid #ededed;

}

/*------------- structure styles ---------------*/

    div.centerContainer {
      width: 960px;
      margin: 0 auto;
      overflow: hidden;
    }

    div#leftContainer {
      width: 360px;
      margin-right: 50px;
    }

    div#rightContainer {
      width: 550px;
    }
/*--- Register --- */

div#homeBottomRegister{
  margin-top: 50px;
  line-height: 30px;
}

div#homeBottomRegister form label{
  padding: 20px;
}

div#homeBottomRegister form input{
  background: url("img/lightInputBG.png") 0 0 repeat-x;
  height: 30px;
  text-align: left;
  font-size: 12px;
  color: #939393;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  width: 210px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;

  border: 1px solid #ededed;

}

div#homeBottomRegister form [type="submit"]{
  color: #5b5b5b;
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
  background: url('img/redButtonOut.png') 0 0 repeat-x;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
}

div#homeBottomRegister form [type="submit"]:hover{
  background: url('img/redButtonOver.png') 0 0 repeat-x;
 
}

div#homeBottomRegister form [type="radio"]{
  float: left;
  width: 10px;
}

div#homeBottomRegister .genderTD {
  float: left;
  height: 40px;
  width: 130px;
}




/*------------- news section ---------------*/
h3.sectionHeading {
  color: #fe57a1;
  margin-bottom: 30px;
}

h3.sectionHeading span {
  background-color: #fe57a1;
  color: white;
  padding: 7px 10px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.homeAbout {
  font-size: 12px;
  text-align: justify;
  margin-bottom: 40px;
}

ul#newsList {
  font-size: 12px;
}

ul#newsList li{
  border-bottom: 1px solid #e1e5e9;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

ul#newsList h6{
  color: #9fa2a4;
  margin-bottom: 3px;
}

ul#newsList h3{
   text-transform: capitalize;
}

blockquote p {
  color:#919295;
  font-size: 14px;
  font-style: italic;
  margin-left: 50px;
}

div#clientListContainer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  border: 1px solid #e1e5e9;
  overflow: hidden;
}

ul#clientList li{
  display: inline;
  float: left;
  background: url("../img/clientListBG.png") 0 0 repeat-x;
  border-bottom: 1px solid #e1e5e9;
  border-right: 1px solid #e1e5e9;
  text-align: center;
}

ul#clientList li p {
  margin: 0;
  width: 136px;
  height: 112px;

  line-height: 112px;
}

ul#clientList li p img {
  vertical-align: middle;
}

.faqButton {
  color: #5b5b5b;
}

a.faqButton {
    line-height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: url('img/redButtonOut.png') 0 0 repeat-x;
    font-size: 12px;
    padding: 10px 20px;
    cursor: pointer;
    color: #5b5b5b;
}

a.faqButton:hover {
  background: url('img/redButtonOver.png') 0 0 repeat-x;
  text-decoration: none;
}

table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    width: 700px;
}

.table1 thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.table1 thead th:empty{
    background:transparent;
    border:none;
}

.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}

.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 1px solid white;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

.table1 tbody span.check::before{
    content : url(img/check.png)
}

.table1 td.provider {
  font-size: 11px;
}

.table1Align {
  margin-left: 250px;
  margin-top: 20px;
}

.datum {
  margin-top: 10px;
}

.birthdate {
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e1e5e9;
  background: url('img/lightInputBG.png') 0 0 repeat-x;
}



/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
