/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.4;
    color: #444549;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float:right;
}

.cl {
	clear: left;
}

.cr {
	clear: right;
}

.cb {
	clear: both;
}

.noBorderBottom {
	border-bottom: none !important;
}

.lastCol {
	margin-right: 0 !important;
}

.biggerLink {
	padding-right: 20px;
}

.fillContainerXXS {
  height: 25px;
}

.fillContainerXS {
  height: 55px;
}

.fillContainerS {
  height: 110px;
}

.fillContainerM {
  height: 280px;
}

.fillContainerL {
  height: 290px;
}

.fillContainerXL {
  height: 377px;
}

p {
	margin: 15px 0;
	line-height: 1.5em;
}

div.blankSeparator {
	margin-bottom: 30px;
	height: 1px;
	display: block;
}

a.readMoreLink {
	font-size: 11px;
	background: url("../img/listArrow.png") center right no-repeat;
	padding-right: 15px;
}

.simpleLine {
    border-bottom: 1px solid #ebebed;
}

.colorBlue {
    color: #007fbb;
}

.colorWhite {
    color: #e1e5e9;
    text-transform: uppercase;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    	font-weight: normal;
    }

    h1 {
    	font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }


    h3 {
    	font-size: 14px;
    	text-transform: uppercase;
    }

    h6 {
    	font-size: 11px;
    }

    a {
    	color: #007fbb;
    	text-decoration: none;
    }

    a:hover {
    	text-decoration: underline;
    }

    div.sepContainer {
    	height: 21px;
    	background: url("../img/separatorBG.png") 0 0 repeat-x;
    	display: block;
    	margin: 30px 0;
    }

    /*------------- structure styles ---------------*/

    div.centerContainer {
    	width: 960px;
    	margin: 0 auto;
    	overflow: hidden;
    }

    div#leftContainer {
    	width: 360px;
    	margin-right: 50px;
    }

    div#rightContainer {
    	width: 550px;
    }

    /*------------- LOGIN -------------------*/

    .loginError {
        float: right;
        position: absolute;
        margin-left: 300px;
    }

    /*------------- top section ---------------*/

    div#topContainer {
    	background: url("../img/topBG.png") 0 0 repeat;
    	height: 130px;
    }

    a.logo {
    	margin-top: 25px;
        width: 350px;
    }

    div#topContactInfo {
    	background: url("../img/topPaper.png") 0 0 no-repeat;
    	width: 350px;
    	height: 119px;
    }

    div#topContactInfo ul {
    	padding: 0 30px;
    	margin-top: 10px;
    }

    div#topContactInfo ul li {
    	/*border-bottom: 1px solid #ebebed;*/
    }

    div#topContactInfo ul li p{
    	color: #92979d;
    	font-size: 11px;
    	background: url("../img/listArrow.png") left center no-repeat;
    	padding-left: 15px;
    	margin: 7px 0px;
    }

    div#topContactInfo ul li ul {
    	padding: 0;
    	margin: 7px 0 0 7px;
    }

    div#topContactInfo ul li ul li {
    	display: inline;
    	padding-right: 5px;
    }

    /*------------- menu ---------------*/

    div#menuContainer {
    	background: url("../img/menuBG.png") 0 0 repeat-x;
    	height:80px;
    }



    ul#nav li {
    	display: inline;
    	float: left;
    	background: url("../img/menuSep.png") center right no-repeat;

    	margin: 16px 30px 0 0;
    }

    ul#nav li a {
    	color: white;
    	font-size: 14px;
    	text-transform: uppercase;
    }

    ul#nav li a span {
    	font-size: 12px;
    	text-transform: lowercase;
    	display: block;
    	color: #606160;

    	padding-right: 30px;
    }

    ul#nav li a:hover {
    	text-decoration: none;
    	color: #92979d;
    }

    /*------------- slider ---------------*/

    div#sliderContainer {
    	background: url("../img/sliderBG.png") 0 0 repeat-x;
    	height: 300px;
    }

    #mainSlider {
    	width: 840px;
    	float: left;
    }

    #mainSlider ul li{
    	width: 720px;
    	height: 265px;
    	padding: 35px 60px 0 60px;
    	overflow: hidden;
    }

    .slideImg {
    	margin-right: 30px;
    }

     #mainSlider ul li h1{
    	text-transform: uppercase;
    	color: #007fbb;
    }

    .slideParagraph {
    	font-size: 14px;
    	text-align: justify;
    }

    .slideParagraph2 {
    	line-height: 22px;
    	width: 250px;
    	float: left;
    }

    .checkImg {
    	margin-right: 10px;
    }

    #sliderBtnPrev, #sliderBtnNext {
    	float: left;
    	width: 60px;
    }

    #sliderBtnPrev img, #sliderBtnNext img{
    	margin-top: 120px;
    	cursor: pointer;
    }



    /*------------- service container ---------------*/

    

    div.oneThirdCol {
    	width: 285px;
    	margin-right: 50px;
    	float: left;
    }

    div.oneThirdCol img{
    	margin: 0 15px 15px 0;
    }

    div#serviceListContainer h3 {
    	color: #007fbb;
    	margin-top: 12px;
    }

    div#serviceListContainer p {
    	color: #919295;
    	clear: left;
    }

    div#serviceListContainer ul li{
    	background: url("../img/listArrow.png") center left no-repeat;
    	padding: 3px 3px 3px 15px;
    }

/*------------- news section ---------------*/
h3.sectionHeading {
	color: #007fbb;
	margin-bottom: 30px;
}

h3.sectionHeading span {
	background-color: #007fbb;
	color: white;
	padding: 7px 10px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

ul#newsList {

}

ul#newsList li{
	border-bottom: 1px solid #e1e5e9;
	margin-bottom: 20px;
	padding-bottom: 20px;
    margin-left: -25px;
}

ul#newsList h6{
	color: #9fa2a4;
	margin-bottom: 3px;
}

ul#newsList h3{
	 text-transform: capitalize;
}

div#clientListContainer {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid #e1e5e9;
	overflow: hidden;
}

ul#clientList li{
	display: inline;
	float: left;
	background: url("../img/clientListBG.png") 0 0 repeat-x;
	border-bottom: 1px solid #e1e5e9;
	border-right: 1px solid #e1e5e9;
	text-align: center;
}

ul#clientList li p {
	margin: 0;
	width: 136px;
	height: 112px;

	line-height: 112px;
}

ul#clientList li p img {
    width: 64px;
	vertical-align: middle;
}

/*------------- Footer Section---------------*/

div#footerContainer {
	background: url("../img/copyrightBG.png") 0 0 repeat;
	padding: 30px 0;
}

div#footerContainer h3{
	color: #e1e5e9;
}

div#footerContainer p{
	color: #e1e5e9;
	font-size: 11px;
}

div#footerContainer p span{
	display: block;
	color: #77797c;
}

div#copyrightContainer {
	background: url("../img/background_tile_1.jpg") 0 0 repeat;
	padding: 10px 0;
}

#subscribeEmail {
    font-size: 12px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #919295;
}

form#subscribeForm input[type="text"] {
	background: url("../img/darkInputBG.png") 0 0 repeat-x;
	height: 40px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	width: 270px;
	border: none;
	padding-left: 10px;
	margin-bottom: 10px;
}


a.blueButton {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	padding: 10px 20px;

	background: url("../img/blueButtonBG.png") 0 0 repeat-x;
}

form#subscribeForm {
	position: relative;
}

a.blueButton:hover {
	background: url("../img/blueButtonBGOver.png") 0 0 repeat-x;
}

a.blueButton img {
	margin: 0 0 2px 0
}

a#newsletterSignup {
	position: absolute;
	top: 2px;
	right: 7px;
}

#bottomContactInfo {
    margin-left: -5px;
}

ul#bottomContactInfo li {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	background-color: #424347;
	font-size: 11px;
	margin-bottom: 10px;

}

ul#bottomContactInfo li p {
	padding: 15px 10px;
	margin: 0;
}

div#footerProjects {
	margin-top: 10px;
}

div#footerProjects h3{
	margin-bottom: 10px;
}

div#footerProducts {
	line-height: 20px;
}

div#footerProducts h3{
	margin-bottom: 10px;
}

/*------------- Footer video ------------------*/
div#productVideo {
    position: absolute;
    margin-top: 35px;
    margin-left: 46px;
}

/*------------- Footer Copyright---------------*/

ul.socialIcons li {
	display: inline;
	margin-right: 3px;
}

div#copyrightContainer ul.socialIcons{
	margin-top: 15px;

}

p#bottomCopyright {
	color: #e1e5e9;
	background: url("../img/logoGray.png") center left no-repeat;
	height: 24px;
	padding-left: 125px;
}

/*------------- Produkty Page---------------*/

div#breadCrumbsContainer {
    background: url("../img/breadcrumbsBG.png") 0 0 repeat-x;
    height: 60px;
}

div#breadCrumbsContainer p{
    color: #92979d;
    font-size: 11px;
    height: 60px;
    line-height: 60px;
    margin: 0;
}

div#sidebarContainer {
    widows: 283px;
    margin-right: 50px;
}

div.sidebarItem {
    width: 260px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid #e1e5e9;
    margin-bottom: 30px;
}

div.sidebarHeading {
    background: url("../img/sidebarHeaderBG.png") 0 0 repeat-x;
    height: 47px;
    padding: 0 20px;
}

div.sidebarHeading h3 {
    height: 47px;
    line-height: 47px;
}

ul.arrowList {
}

ul.arrowList li {
    font-size: 11px;
    border: 1px solid #e1e5e9;
    background: url("../img/sidebarPointDark.png") 92% center no-repeat;
    padding: 10px 70px 10px 20px;
}

li#activeCategory {
    background: url("../img/sidebarPointBlue.png") 92% center no-repeat;
    font-weight: bold;
    color: #62656b;
    background: url("../img/sidebarGradBG.png") 0 0 repeat-x;

}

div#mainContainer {
    width: 628px;
}

div#mainContainer li{
    line-height: 25px;
    margin-left: 10px;
    color: #919295;
}

.introTextProducts {
    font-size: 13px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #919295;
}

.mainTextProducts {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #919295;
}

ul#serviceList li {
    overflow: hidden;
    border-bottom: 1px solid #e1e5e9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

ul#serviceList li img {
    margin-right: 15px;
    height: 30px;
}

ul#serviceList li h3 {
    height: 30px;
    line-height: 30px;
}

ul#serviceList li p {
    font-size: 11.5px;
    text-align: justify;
    color: #919295;
}

ul#serviceList li p {
    color: #919295;
}

.priemyselna_tomografia_banner {
    margin-top: 10px;
    margin-bottom: 35px;
}

/*-- KONTAKT --*/

div.sidebarContainer {
  width: 283px;
  margin-right: 50px;
  font-size: 12px;
}

div.sidebarItem {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

  border: 1px solid #e3e5e8;
  
  margin-bottom: 30px;
}

  ul.arrowList {
    background: url('../img/sidebarGradBG.png') 0 0 repeat-x;
  }

  ul.arrowList li {
    border-bottom: 1px solid #e1e5e9;
    padding: 14px 20px;
    background: url('../img/sidebarPointRed.png') 92% center no-repeat;
  }
  
  li.activeSidebarItem {
    background: url('../img/sidebarPointDark.png') 92% center no-repeat !important;
    font-weight: bold;
    color: #62656b;
  }
    
 div.sidebarHeader{
    background: url("../img/sidebarHeaderBG.png") 0 0 repeat-x;
    height: 47px;
    padding: 10px 20px;
}

div.sidebarHeader h5 {
    height: 47px;
    line-height: 7px;
}

div.sidebarGeneral {
    margin: 10px;
}

ul.basicList  {
    margin: 0;
}

ul.basicList li {
    padding: 0 20px;
    border-bottom: 1px solid #e1e5e9;
}

ul.basicList li p {
  color: #919295;
}

 
  .redButton a{
  margin-top: 10px;
}

a.redButton {
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: url('../img/blueButtonBG.png') 0 0 repeat-x;
    font-size: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

a.redButton:hover {
  background: url('../img/blueButtonBGOver.png') 0 0 repeat-x;
  text-decoration: none;
}

  a.redButton img {
    margin: 7px 0 2px 4px;
  }

  #leftPanelContact {
      width: 40%;
      height: 100%;
      float: left;
      margin-left: 10px;
   }

    #rightPanelContact {
      height: 100%;
      float: left;
      width: 62%;
      font-size: 12px;
   }

   .kontaktFU {
    line-height: 20px;
   }

   form#contactForm {
    overflow: hidden;
}

form#contactForm p {
    margin-top: 0;
}

form#contactForm input[type="text"] {
    width: 270px;
}

    form#contactForm input[type="text"]:hover {
        border: 1px solid #b8babd;
    }

form#contactForm textarea {
    height: 180px;
    width: 570px;
    min-width: 570px;
    max-width: 570px;
    min-height: 180px;
    max-height:  250px;
}

p.oneHalfCol {
    width: 47%;
    margin-right: 3%;
    float: left;
}

/*---- R&D section ----*/
.RDbanner {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -5px;
}

.RDbannerSmall {
    padding: 3px;
    margin-left: 1px;
}

.RDtext {
    width: 480px;
    margin-top: 30px;
    text-align: justify;
}

.RDInfo {
    margin-top: 15px;
    float: right;
}

div#RDleftContainer {
    width: 50%;
    float: left;
}

div#RDrightContainer {
    width: 50%;
    float: right;
}

.mainTextProjects {
    font-size: 12px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #919295;
    font-style: italic;
    padding-top: 15px;
}

/*---- LOGIN PANEL ----*/

div#loginPanel {
    background-color: white;
    text-align: center;
    width: 160px;
    height: 100%;
    padding: 10px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid #e1e5e9;

    margin-top: 10px;
    margin-left: 200px;
}

.loginButton {
    padding-right: 15px;
    padding-top: 5px;
}

.copyrightText {
    position: absolute;
    margin-top: 7px;
    font-size: 10px;
}

/*------- SIGN in form ------*/
.sign-in-form {
    margin-top: -7px;
    margin-left: -60px;
}

.sign-in-form input[type="text"]{
    background: url('../img/lightInputBG.png') 0 0 repeat-x;
    height: 35px;

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      
      border: 1px solid #e1e5e9;
      width: 260px;
      padding: 0 10px;
      margin-bottom: 10px;
}

.sign-in-form input[type="password"]{
    background: url('../img/lightInputBG.png') 0 0 repeat-x;
    height: 35px;

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      
      border: 1px solid #e1e5e9;
      width: 150px;
      padding: 0 10px;
}

.sign-in-form input[type="submit"]{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: white;
    padding: 7px 29px;
    float: right;
    margin-right: 14px;
    background: url("../img/blueButtonBG.png") 0 0 repeat-x;
}

.sign-in-form input[type="submit"]:hover{
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: white;
    padding: 7px 29px;
    float: right;
    margin-right: 14px;
    background: url("../img/blueButtonBGOver.png") 0 0 repeat-x;
    cursor: pointer;
}

.error li {
    color: red;
    position: absolute;
    margin-top: 12px;
    font-weight: bold;
}

/*---------- Team -------------*/

.teamPic{
    width: 65px;
    float: left;
    margin-right: 10px;
}

.text-info{
    margin-top: -5px;
}