/*
 * Cleverfrogs campaign formular style
 *
 * Copyright 2013 - Ado Gaspar
 */

/* ==========================================================================
   Base styles: 
   ========================================================================== */


.thumbnail{
	max-width: 50%;
}

.product_service {
	display: block;
	max-width: 40%;
	
	margin: 2em;

	
}

.product_service img {


}

.inner_ps_l {
}

.inner_ps_r {
}