/*
 * Cleverfrogs campaign formular style
 *
 * Copyright 2013 - Ado Gaspar
 */

/* ==========================================================================
   Base styles: 
   ========================================================================== */

.thumbnail{
	background-color: red !important;
	max-width: 20% !important !important;
	margin: 10px auto !important;
	z-index: 10000 !important;
}

.product_service {
	display: block !important;
	max-width: 40% !important;
	margin: 2em !important;
}

.description {
	text-align: justify !important;
}

.formular_text p{
	width: 95% !important;
}

.thumbnails h3 {
	text-align: center !important;
}