


/* GRAPHS CSS for Dandelion Admin */

.noCorner {
	-moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -khtml-border-radius: 0px !important;
    border-radius: 0px !important;
}

.leftCorner {
	-webkit-border-top-right-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.rightCorner {
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-bottom-left-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.negative {
	transform:scaleX(-1);
}

/*------ end of global variables -----*/

.logoPlace {
	width: 22%;
}

.logoPlace img{
	width: 90%;
}

.summaryIcons li {
	width: 24%;
	display: inline-block !important;
	vertical-align: top;
}

.locationSelector {
	width: 300px;
}

.locationSelector a{
	width: 300px;
}

.chzn-drop  {
	width: 308px !important;
}

.chzn-search input[type="text"] {
	width: 91% !important;
}

.chzn-results {
	width: 97% !important;
}

.timelineBG {
	background: url('../images/timeline.png') no-repeat;
	margin-left: 20px;
}

.rangeSlider {
	width: 980px;
}

.rangeSlider .rangeSliderTimeline {
	background: none;
	height: 35px;
	margin-bottom: 20px;
}

.ui-slider.none .ui-slider-range
{
	background-color: none;
	opacity: 0;
}

.rangeSlider .ui-slider-handle
{
	position:absolute;
	z-index:2;
	width: 162px !important;
	height: 38px !important;
	cursor:default;
	cursor:pointer;
	background:url(../images/slider.png) no-repeat left  !important;
	border:0 !important;
	outline:none;
	margin-top: 7px;
}

.da-highlight {
	color: #a6d037;
}

.formNote{
	margin-left: 20px;
	line-height: 30px;
}

.graphsArea {
	clear: both;
	margin-top: 20px;
	width: 82%;
}

.grid_1b {
	padding: 7.5px;
	float: left;
	width: 32%;
	vertical-align: middle;
}

.graphHeading {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.underline {
	border:0;
  	border-top: 1px solid black;
  	height: 0;
  	background: black;
  	opacity: 0.2;
  	margin-bottom: 15px;
  	margin-top: 15px;
}

.gridster  {
	margin-left: -45px !important;
}

.gridster li{
}

.FAS_graph  {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.FAS_graph .progressBar {
	float: left;
}

.FAS_graph .gs_w {
	margin: 0 !important;
}

.FAS_graph h3 {
	text-transform: uppercase;
}

#da-ex-pa {
	margin-top: 10px;
}

#da-ex-pb {
	margin-top: 10px;
}

#da-ex-pc {
	margin-top: 10px;
}

.heading {
	text-transform: uppercase;
	font-size: 20px;
}

.green {
	color: #a6d037;
}

.orange {
	color: orange;
}

.red {
	color: #ea799b;
}

.big {
	font-size: 22px;
}

.middle {
	font-size: 15px;
}

.small {
	font-size: 11px;
}

.greenHeading {
	font-size: 20px;
	color: #a6d037;
}

.orangeHeading {
	font-size: 20px;
	color: #fab241;
}

.redHeading {
	font-size: 20px;
	color: #ea799b;
}

div.smallText {
	text-align: justify;
	position: absolute;
	bottom: 0;
}

#stepped_chart {
	background-color: none;
}

/*---- benchmarks ----*/

.bechmark-percentage {
	padding-right: 5px;
	color: #a6d037;
	font-weight: bold;
	text-align: center;
}

.bechmark-percentage-red {
	padding-right: 5px;
	color: #ea799b;
	font-weight: bold;
	text-align: center;
}

.benchmarkTable {
	width: 100%;
	line-height: 40px;
	padding: 5px;
	margin-top: 10px;
}

#da-ex-benchmark-a {
	width: 100%;
	margin-top: 10px;
}

#da-ex-benchmark-b {
	width: 100%;
	margin-top: 25px;
}

#da-ex-benchmark-c {
	width: 100%;
	margin-top: 25px;
}

#da-ex-benchmark-d {
	width: 100%;
	margin-top: 130px;
}


#da-ex-benchmark-e {
	width: 100%;
	margin-top: 25px;
}


.leftBT {
	float: left;
	width: 43%;
}

.middleBT {
	float: left;
	width: 12%;
	text-align: center;
}

.rightBT {
	float: left;
	width: 43%;

}

.BTbigLeft {
	width: 30%;
	background-color: yelllow;
	float: left;
}

.BTbigRight {
	width: 70%;
	background-color: yelllow;
	float: left;
}

.titlesBT {
	line-height: 40px;
}

/*--- tag cloud ---*/

.tagCloud {
	padding: 15px;
	width: 90%;
	font-family:Arial; 
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
	text-align: center;

	background: white;

	-moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -khtml-border-radius: 5px !important;
    border-radius: 5px !important;

    -moz-box-shadow: inset 0 0 10px #888;
	-webkit-box-shadow: inset 0 0 10px#888;
	box-shadow: inner 0 0 10px #888;
}

.tagCloud a {
	padding: 3px;
}

.tagCloudCenter {
	margin-left: auto;
	margin-right: auto;
}


.jp-container{
	width: 100% !important;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:13px;
}

.jp-container h3 {
	color:#000;
	margin: 0;
}